---
title: Oops! Not Found
permalink: 404.html
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title }}
    </title>
    {% include 'partials/meta.njk' %}

  </style>
  </head>
  <body style="display:flex;justify-content: center;align-items: center;height: 100vh; ">
    <big style="display:flex; width:365px;flex-direction: column;    align-items: center; ">
        <h1>404</h1>
        <img  src="https://i.ibb.co/TByZchN/zyro-image-1.png" alt=""  />
        <h3>Relax.... Even a hard time can be an opportunity!! </h3>
        <h5> <a href="{{ '/' | url  }}">Home</a></h5>
    </big>
  </body>
</body>
</html>
