---
layout: default
title: Today I Learned
---


{%- for post in collections.post  -%}
  <article class="post">
    <div class="title">
      <h2>
        <a href="{{ post.data.permalink }}">{{ post.data.title }}</a>
      </h2>
      <!-- <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p> -->
    </div>
      <div class="meta">
        <i class="fa-solid fa-pen-nib"></i>
        <small class="name">
          <a href="{{ '/' | url }}authors/{{ post.data.author }}" class="author">
            {{ post.data.fullname | capitalize}}
          </a>
        </small>
          <span class="date">
          <i class="fa-regular fa-calendar"></i>
          <small class="author">{{ post.data.date | dateFormat }}</small>
        </span>
      </div>
    <span class="image featured">
      <img src="images/pic01.jpg" alt="" />
    </span>
    <p>{{ post.content | striptags(true) | truncate(300) }}</p>



    <div></div>
  </article>

{%- endfor -%}
