<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title }}
    </title>
    {% include 'partials/meta.njk' %}

  </style>
  </head>
  <body>
      <header>
        {% include 'partials/navbar.njk' %}
      </header>
      <main class="main-body" id="main" >
        <div class="row">
          <div class="sidebar">
          {% include 'partials/sidebar.njk' %}
          </div>
          <div class="main_content" id="contentArea">
            {{ content | safe}}
          </div>
        </div>
      </main> 
    <footer>
      {% include 'partials/footer.njk' %}
    </footer>
  </body>
</body>
</html>
