<script src="{{ '/assets/js/lunr.js' | relative_url }}"></script>

<script>
{% assign counter = 0 %}
var documents = [{% for page in site.pages %}{% if page.url contains '.xml' or page.url contains 'assets' %}{% else %}{
    "id": {{ counter }},
    "url": "{{ site.url }}{{ page.url }}",
    "title": "{{ page.title }}",
    "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }, {% endif %}{% endfor %}{% for page in site.without-plugin %}{
    "id": {{ counter }},
    "url": "{{ site.url }}{{ page.url }}",
    "title": "{{ page.title }}",
    "body": "{{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }, {% endfor %}{% for page in site.posts %}{
    "id": {{ counter }},
    "url": "{{ site.url }}{{ page.url }}",
    "title": "{{ page.title }}",
    "body": "{{ page.date | date: "%Y/%m/%d" }} - {{ page.content | markdownify | replace: '.', '. ' | replace: '</h2>', ': ' | replace: '</h3>', ': ' | replace: '</h4>', ': ' | replace: '</p>', ' ' | strip_html | strip_newlines | replace: '  ', ' ' | replace: '"', ' ' }}"{% assign counter = counter | plus: 1 %}
    }{% if forloop.last %}{% else %}, {% endif %}{% endfor %}];

var idx = lunr(function () {
    this.ref('id')
    this.field('title')
    this.field('body')

    documents.forEach(function (doc) {
        this.add(doc)
    }, this)
});
function lunr_search(term) {
    if(term) {
        // document.getElementById('lunrsearchresults').innerHTML = "<p>Search results for '" + term + "'</p>" + document.getElementById('lunrsearchresults').innerHTML;
        //put results on the screen.
        // document.getElementsByTagName("body").classList.remove("is-menu-visible");
        document.getElementById('main').innerHTML = '<article class="post"><header>'+
            '<div class="title" id="foundResults"><h2>...Search Result for "'+ term +'"</h2><ul></ul></div></header></article>'

        var results = idx.search(term);
        if(results.length>0){
          // document.getElementById('main').innerHTML = '<article class="post"><header>'+
          //   '<div class="title" id="foundResults"><h2>Search Result for '+ term +'</h2><ul></ul></div></header></article>'


            //console.log(idx.search(term));
            //if results
            for (var i = 0; i < results.length; i++) {
                // more statements
                var ref = results[i]['ref'];
                var url = documents[ref]['url'];
                var title = documents[ref]['title'];
                var body = documents[ref]['body'].substring(0,160)+'...';
                document.querySelectorAll('#foundResults ul')[0].innerHTML = document.querySelectorAll('#foundResults ul')[0].innerHTML + "<li class='lunrsearchresult'><h4><a href='" + url + "'>" + title + "</a></h4><p><a href='" + url + "'>"+ body +"</a></p></li>";
            }
        } else {
            document.querySelectorAll('#foundResults ul')[0].innerHTML = "<li class='lunrsearchresult'>No results found...</li>";
        }
    }
    return false;
}
function lunr_search_mini(term) {
    if(term) {
        // document.getElementById('lunrsearchresults').innerHTML = "<p>Search results for '" + term + "'</p>" + document.getElementById('lunrsearchresults').innerHTML;
        //put results on the screen.
        // document.getElementsByTagName("body").classList.remove("is-menu-visible");
        document.getElementById('main').innerHTML = '<article class="post"><header>'+
            '<div class="title" id="foundResults"><h2>...Search Result for "'+ term +'"</h2><ul></ul></div></header></article>'

        var results = idx.search(term);
        if(results.length>0){
          // document.getElementById('main').innerHTML = '<article class="post"><header>'+
          //   '<div class="title" id="foundResults"><h2>Search Result for '+ term +'</h2><ul></ul></div></header></article>'


            //console.log(idx.search(term));
            //if results
            for (var i = 0; i < results.length; i++) {
                // more statements
                var ref = results[i]['ref'];
                var url = documents[ref]['url'];
                var title = documents[ref]['title'];
                document.querySelectorAll('#foundResults ul')[0].innerHTML = document.querySelectorAll('#foundResults ul')[0].innerHTML + "<li class='lunrsearchresult'><h4><a href='" + url + "'>" + title + "</a></h4></li>";
            }
        } else {
            document.querySelectorAll('#foundResults ul')[0].innerHTML = "<li class='lunrsearchresult'>No results found...</li>";
        }
    }
    return false;
}
</script>

