<h2>#{{link | capitalize}}</h2>

{% for post in collections.post %}
  {% if post.data.tag === link %}
    <article class="post">
      <div class="title">
        <h2>
          <a href="{{ '/' | url }}{{ post.data.permalink }}">{{ post.data.title }}</a>
        </h2>
      </div>
      <div class="meta">
        <small>
          <i class="fa-solid fa-pen-nib"></i>
        </small>
        <a href="{{ '/' | url }}authors/{{ post.data.author }}" class="author">
          <small class="name">{{ post.data.fullname }}</small>
          <!-- <img src="/images/avatar.jpg" alt="" /> -->
        </a>
        <small>
          <i class="fa-regular fa-calendar"></i>
        </small>
    
          <small>{{ post.data.date | dateFormat }}</small>
      </div>
      <span class="image featured">
        <img src="images/pic01.jpg" alt="" />
      </span>
      <p>{{ post.content | striptags(true) | truncate(300) }}</p>
      <div></div>
    </article>
  {% endif %} 
{% endfor %}
