<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link type="text/css" rel="stylesheet" href="{{ '/assets/css/style.css?version=0.1' | url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&ffamily=Noto+Sans+Lao:wght@200&family=Raleway:wght@600&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
<meta property="og:title" content="Blog site from web developers" />
<meta property="og:description" content="to document our progress, share oer experiences, and connect with others who share our passion for technology." />
<meta property="og:image" content="https://i.ibb.co/BrMjWsD/Screenshot-2023-03-22-at-13-11-55.png" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
