<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div id="wrapper">
    {% include header.html %}
    {% include menu.html %}
    <div id="main">
      {{ content }}
    </div>
    {% include sidebar.html %}
  </div>



  </div>
  <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/browser.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/breakpoints.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/util.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>


</body>

</html>