---
layout: default
---



{% assign totpost = 0 %}
{% for post in site.posts %}
  {% if post.tags contains page.tag %}
  {% assign totpost = totpost | plus: 1 %}
  {% endif %}
{% endfor %}

<!-- <h1>#{{page.tag}} ({{totpost}})</h1> -->
<h1 style="font-size: 1.5em;">#{{page.tag}} </h1>

  {% for post in site.posts %}
    {% if post.tags contains page.tag %}
      {% include posts.html post=post page=page %}

    <!-- <article class="post">
      <header>
        <div class="title">

          <h2><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <p>{{post.excerpt}}</p>
        </div>
        <div class="meta">
          <time class="published" datetime="2015-11-01">{{ post.date | date: '%Y %b %d'}}</time>
          <a href="#" class="author"><span class="name">{{post.fullname | }}</span><img src="/images/avatar.jpg" alt="" /></a>
        </div>
      </header>
      <footer>
        <ul class="actions">
          <li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" class="button large">Continue Reading</a></li>
        </ul>
        <ul class="stats">
          <li><a href="{{ site.url }}{{ site.baseurl }}/tags/{{ post.tag }}">{{post.tag}}</a></li>
          <li><a href="#" class="icon solid fa-heart">28</a></li>
          <li><a href="#" class="icon solid fa-comment">128</a></li>
        </ul>
      </footer>
    </article> -->
    {% endif %}
  {% endfor %}







